<!DOCTYPE html>
<head>
  <meta charset="utf-8"/>
  <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
  <meta content="width=device-width, initial-scale=1" name="viewport"/>
  <title>Shared image reveal app: {{ table.scene_def.name }}</title>
  <link rel="stylesheet" href="../sir.css">
  <base href="../">
  <style>
  .clip { stroke: {{ table.scene_def.color }}; }
  </style>
</head>
<body id="table">
  <!-- The viewBox ratio must match the image ratio, so that the image can fully fill the <svg>: -->
  <svg viewBox="0 0 {{ table.scene_def.img.width }} {{ table.scene_def.img.height }}">
    <!-- To fill the <svg>, we set the image width equal to the viewBox width: -->
    <image xlink:href="{{ table.scene_def.img.url }}" x="0" y="0" width="{{ table.scene_def.img.width }}" />
    {% for clip in table.scene_def.clips %}
      <{{ clip.type }}{% for k, v in clip.items() %} {{ k }}="{{ v }}"{% endfor %}
        class="clip {{ 'enabled' if loop.index0 in table.visible_clips else '' }}"
        style="cursor: pointer" onclick="toggleClip({{ loop.index0 }})"/>
    {% endfor %}
    {% for elem in table.scene_def.add %}
      <{{ elem.type }}{% for k, v in elem.items() %} {{ k }}="{{ v }}"{% endfor %}
        opacity="{{ 1 if loop.index0 in table.added_elems else 0.5 }}"
        style="cursor: pointer" onclick="toggleElemAdded({{ loop.index0 }})"
        {% if elem.content %}>{{ elem.content }}</{{ elem.type }}>{% else %}/>{% endif %}
    {% endfor %}
    <pattern id="diagonalHatch" patternUnits="userSpaceOnUse" width="10" height="10">
      <!-- Tweaked recipe from: https://stackoverflow.com/a/14500054/636849 -->
      <path d="M0,10 l10,-10" style="stroke: {{ table.scene_def.color }}; stroke-width:1" />
    </pattern>
  </svg>
  {% if table.timer_end %}<div id="timer"></div>{% endif %}
  <form class="admin" method="POST">
    <div>Table public URL: <a href="../table/{{ table.public_id }}">{{ table.public_id }}</a></div>
    {% if table.scene_def.show_list_of_characters %}
    <fieldset id="characters">
    {% for character in table.characters %}
      <div class="character">
        <input onclick="document.forms[0].submit()" type="checkbox" name="enable_character_{{ loop.index0 }}" {{ 'checked' if character.visible else '' }} style="color: {{ character.color }}"></span>
        <input onfocusout="document.forms[0].submit()" name="character_name_{{ loop.index0 }}" value="{{ character.name }}" size="16"/>
      </div>
    {% endfor %}
    </fieldset>
    {% endif %}
    {% for _ in table.scene_def.clips %}
      <input type="checkbox" class="hidden" name="enable_clip_{{ loop.index0 }}" {{ 'checked' if loop.index0 in table.visible_clips else '' }}/>
    {% endfor %}
    {% for elem in table.scene_def.add %}
      <input type="checkbox" class="hidden" name="enable_elem_{{ loop.index0 }}" {{ 'checked' if loop.index0 in table.added_elems else '' }}/>
    {% endfor %}
    <input type="checkbox" class="switch hidden" id="display_all" name="display_all" {{ 'checked' if table.display_all else '' }} onchange="this.form.submit()"/>
    <label for="display_all">Display all</label>
    <label for="display_all">Countdown (min):</label>
    <input type="number" name="countdown_minutes" value="{{ table.scene_def.duration_in_min or 20 }}"/>
    <input type="checkbox" class="switch hidden" id="reset_timer" name="reset_timer" onchange="this.form.submit()"/>
    <label for="reset_timer">Reset timer</label>
  </form>
  <script>
    function chronoTick() {
      const timerEnd = {{ table.timer_end or 'null' }};
      const now = (new Date()).getTime() / 1000;
      if (timerEnd) {
        let timerText = '00:00';
        if (timerEnd > now) {
          const remainingSecs = timerEnd - now;
          timerText = `${Math.floor(remainingSecs / 60)}:${(Math.round(remainingSecs % 60) + '').padStart(2, '0')}`;
        }
        window.timer.textContent = timerText
      }
      setTimeout(chronoTick, 1000);
    }
    chronoTick();
    function toggleElemAdded(clip_id) {
      const form = document.forms[0];
      const checkbox = form['enable_elem_' + clip_id];
      checkbox.checked = !checkbox.checked;
      form.submit();
    }
    function toggleClip(clip_id) {
      const form = document.forms[0];
      const checkbox = form['enable_clip_' + clip_id];
      checkbox.checked = !checkbox.checked;
      form.submit();
    }
  </script>
</body>
</html>
