<!DOCTYPE html>
<head>
  <meta charset="utf-8"/>
  <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
  <meta content="width=device-width, initial-scale=1" name="viewport"/>
  <title>Shared image reveal app: {{ table.scene_def.name }}</title>
  <link rel="stylesheet" href="../sir.css">
  </style>
</head>
<body id="table">
  <!-- The viewBox ratio must match the image ratio, so that the image can fully fill the <svg>: -->
  <svg viewBox="0 0 {{ table.scene_def.img.width }} {{ table.scene_def.img.height }}">
    <!-- To fill the <svg>, we set the image width equal to the viewBox width: -->
    <image xlink:href="{{ table.scene_def.img.url }}" x="0" y="0" width="{{ table.scene_def.img.width }}" />
    {% for clip in table.scene_def.clips %}
      <{{ clip.type }}{% for k, v in clip.items() %} {{ k }}="{{ v }}"{% endfor %}
        class="clip {{ 'enabled' if loop.index0 in table.visible_clips else '' }}"
        style="cursor: pointer" onclick="toggleClip({{ loop.index0 }})"/>
    {% endfor %}
    {% for img in table.scene_def.images %}
      <image href="{{ img.url }}" x="{{ img.x }}" y="{{ img.y }}" width="{{ img.width }}" height="{{ img.height }}"
        opacity="{{ 1 if loop.index0 in table.visible_images else 0.5 }}"
        style="cursor: pointer" onclick="toggleImage({{ loop.index0 }})"/>
    {% endfor %}
    <pattern id="diagonalHatch" patternUnits="userSpaceOnUse" width="10" height="10">
      <!-- Tweaked recipe from: https://stackoverflow.com/a/14500054/636849 -->
      <path d="M0,10 l10,-10" style="stroke:white; stroke-width:1" />
    </pattern>
  </svg>
  {% if table.timer_end %}<div id="timer"></div>{% endif %}
  <form class="admin" method="POST">
    <div>Table public URL: <a href="../table/{{ table.public_id }}">{{ table.public_id }}</a></div>
    {% for clip in table.scene_def.clips %}
      <input type="checkbox" name="enable_clip_{{ loop.index0 }}" {{ 'checked' if loop.index0 in table.visible_clips else '' }}/>
    {% endfor %}
    {% for clip in table.scene_def.clips %}
      <input type="checkbox" name="enable_image_{{ loop.index0 }}" {{ 'checked' if loop.index0 in table.visible_images else '' }}/>
    {% endfor %}
    </select>
    <input type="checkbox" id="display_all" name="display_all" class="switch" {{ 'checked' if table.display_all else '' }} onchange="this.form.submit()"/>
    <label for="display_all">Display all</label>
    <label for="display_all">Countdown (min):</label>
    <input type="number" name="countdown_minutes" value="{{ table.scene_def.duration_in_min or 20 }}"/>
    <input type="checkbox" id="reset_timer" name="reset_timer" class="switch" onchange="this.form.submit()"/>
    <label for="reset_timer">Reset timer</label>
  </form>
  <script>
    function chronoTick() {
      const timerEnd = {{ table.timer_end or 'null' }};
      const now = (new Date()).getTime() / 1000;
      if (timerEnd) {
        let timerText = '00:00';
        if (timerEnd > now) {
          const remainingSecs = timerEnd - now;
          timerText = `${Math.floor(remainingSecs / 60)}:${(Math.round(remainingSecs % 60) + '').padStart(2, '0')}`;
        }
        window.timer.textContent = timerText
      }
      setTimeout(chronoTick, 1000);
    }
    chronoTick();
    function toggleImage(clip_id) {
      const form = document.forms[0];
      const checkbox = form['enable_image_' + clip_id];
      checkbox.checked = !checkbox.checked;
      form.submit();
    }
    function toggleClip(clip_id) {
      const form = document.forms[0];
      const checkbox = form['enable_clip_' + clip_id];
      checkbox.checked = !checkbox.checked;
      form.submit();
    }
  </script>
</body>
</html>
