<!DOCTYPE html>
<head>
  <meta charset="utf-8"/>
  <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
  <meta content="width=device-width, initial-scale=1" name="viewport"/>
  <title>Shared image reveal app</title>
  <link rel="stylesheet" href="sir.css">
</head>
<body>
  <h1>Shared image reveal app</h1>
  <form method="POST">
    <label for="scene_def_id">Choose a predefined scene:</label>
    <select name="scene_def_id">
      <option value="0">-- NONE --</option>
    {% for scene_def in scene_defs %}
      <option value="{{ loop.index }}">{{ scene_def.name }}</option>
    {% endfor %}
    </select>
    <br><br>
    <button type="button" onclick="toggleTextareaHeight()">or define your own <em>(advanced usage, click to reveal JSON)</em></button>
    <textarea id="scene_def" name="scene_def" style="height: 0">{{ scene_defs[0] | tojson(indent=2) }}</textarea>
    <input type="submit" value="Create table">
  </form>
  <footer>
    Source code: <a href="https://github.com/Lucas-C/shared-img-reveal">Lucas-C/shared-img-reveal on GitHub</a>
  </footer>
  <script>
    const CHARS = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ'.split('');
    let table = '';
    while (table.length < 6) {
      table += CHARS[Math.floor(Math.random() * CHARS.length)];
    }
    document.forms[0].action = 'admin/' + table;
    function toggleTextareaHeight() {
      const currentHeight = window.scene_def.style.height;
      if (currentHeight === '0px') {
        window.scene_def.style.height = '25rem';
      } else {
        window.scene_def.style.height = 0;
      }
    }
  </script>
</body>
</html>
