<!DOCTYPE html>
<head>
  <meta charset="utf-8"/>
  <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
  <meta content="width=device-width, initial-scale=1" name="viewport"/>
  <title>Shared image reveal app</title>
  <link rel="stylesheet" href="sir.css">
</head>
<body>
  <h1>Shared image reveal app</h1>
  <form method="POST">
    <label for="scene_def_id">Choose a predefined scene:</label>
    <select name="scene_def_id">
      <option value="0">-- NONE --</option>
    {% for scene_def in scene_defs %}
      <option value="{{ loop.index }}">{{ scene_def.name }}</option>
    {% endfor %}
    </select>
    <br><br>
    <label for="image_url">or just provide the URL of an image:</label><br>
    <input type="text" name="image_url"><br>
    <small>(<label for="clip_width">clip width</label>: <input type="number" name="clip_width" value="50"> <label for="clip_height">clip height</label>: <input type="number" name="clip_height" value="50"> <label for="offsex_x">offset x</label>: <input type="number" name="offsex_x" value="0"> <label for="offsex_y">offset y</label>: <input type="number" name="offsex_y" value="0">)</small>
    <br><br>
    <button type="button" onclick="toggleTextareaHeight()">or define your own scene <em>(advanced usage, click to reveal JSON)</em></button>
    <textarea name="scene_def" style="height: 0"></textarea>
    <input type="submit" value="Create table">
  </form>
  <footer>
    Source code: <a href="https://github.com/Lucas-C/shared-img-reveal">Lucas-C/shared-img-reveal on GitHub</a>
  </footer>
  <script>
    const CHARS = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ'.split('');
    const DEFAULT_TEXTAREA_CONTENT = `{{ scene_defs[0] | tojson(indent=2) }}`;
    let table = '';
    while (table.length < 6) {
      table += CHARS[Math.floor(Math.random() * CHARS.length)];
    }
    const form = document.forms[0];
    form.action = 'admin/' + table;
    form.addEventListener('submit', function (event) {
      // Prevent to submit form if none of the inputs is set:
      if (!Number(form.scene_def_id.value) && !form.image_url.value && !form.scene_def.value) {
        event.preventDefault();
      }
    });
    function toggleTextareaHeight() {
      const currentHeight = form.scene_def.style.height;
      if (currentHeight === '0px') {
        form.scene_def_id.value = 0;
        form.image_url.value = '';
        form.scene_def.value = DEFAULT_TEXTAREA_CONTENT;
        form.scene_def.style.height = '25rem';
      } else {
        form.scene_def.style.height = 0;
      }
    }
  </script>
</body>
</html>
